* {
  box-sizing: border-box
}

/* Set height of body and the document to 100% */
body {
  background: rgb(17, 16, 16);
  font-family: 'Arial', 'Roboto', 'sans-serif';
}


/* Style tab links for Home/News/Contact/About */
.tablink {
  background-color: rgb(20, 60, 146);
  color: white;
  float: left;
  border: none;
  cursor: pointer;
  padding: 1px 10px 10px;
  font-size: 17px;
  width: 15em;
  margin-left: auto;
  margin-right: auto;
}

.tablink:hover {
  background-color: rgb(1, 120, 189);
}

/* Style the tab content */
.tabcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#Home {
  background-color: rgba(37, 175, 255, 0.533);
}

#News {
  background-color: rgba(37, 175, 255, 0.533);
}

#Contact {
  background-color: rgba(37, 175, 255, 0.533);
}

#About {
  background-color: rgba(37, 175, 255, 0.533);
}

/*--------------------------------------------------------*/
/*Navbar section*/
/*Moves to right side*/
.text-left {
  text-align: left;
}

/*Creates left long column*/
ul {
  text-indent: 30px;
  list-style-type: none;
  margin: 1px 0px 0px -9px;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/*Gets rid of blue highlint for link when hovered to different color*/
li a {
  display: block;
  color: #000;
  padding: 5px;
  text-decoration: overline underline;
}

/*adds active color in class name which is home in this ex */
li a.active {
  background-color: #04AA6D;
  color: white;
}

/*When hover, color/background is changed*/
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/*--------------------------------------------------------*/
/*border around article ex and sizing on letters*/
div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

a {
  text-decoration: none;
  color: #008CBA;
}

/* Blockquote ex*/
blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

/*--------------------------------------------------------*/
/*Table example 1-3 and alignment/padding wanted*/
/*Educational coding tabs (example)*/

.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 20px auto;
  padding: 10px;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 25px;
  background: #e2e2e2;
  font-weight: bold;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: #fff;
  order: 1;
  display: none;
}

.mytabs .tab h2 {
  font-size: 2em;
}

.mytabs input[type='radio']:checked+label+.tab {
  display: block;
}

.mytabs input[type="radio"]:checked+label {
  background: #fff;
}
/*Table example 4*/
/*Ex:01*//* Only on click, link will change to color selected underneath*/
a:active {
  color: pink;
}

/*Ex:02*//*In container,the items of #'s  listed will flex row in reversal direction*/
.container {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid red;
}

/*Ex:03,Color will appear yellow using class name*/
.example {
  color: yellow;
}

/*Ex:04,Correct way to color paragraph two  outside the section element*/
section + r {
  color:blue;
}
/* This doesnt work at all => p + section {color:blue;}
/*This makes all blue => p {color:blue;}*/
/*This will make paragraph one blue => section > p {color: blue;} */

/*Ex:05,To make <p> ¶.01</p> red*/
r:first-of-type {
  color:red;
}
/*This makes <p>¶.02</p> blue => p {color:blue;}*/

/*Ex:06,Primary color for href link in Ex:06*/
a {
  color: var(--color, orange);
}

/*Ex:07, P3 and P4 is blue*/
h2 ~ p {
  color: blue;
}

/*--------------------------------------------------------*/
/*Ads/ rectangle side container */
#absolute {
  width: 19%;
  height: 70%;
  background-color: #FFD7C2;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
